@font-face {
  font-family: Segoe_UI_Regular; /* Имя шрифта */
  src: url(../fonts/Segoe_UI_Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Segoe_Bold; /* Имя шрифта */
  src: url(../fonts/Segoe_UI_Bold.ttf); /* Путь к файлу со шрифтом */
}