//variables
//colors
$primary-btn-color: #9aa44b;
$primary-white-color : #ffffff;
$primary-link-color : #019b9e;
$primary-dark-color  : #363e3e;
$ff-regular : "Segoe_UI_Regular";
$ff-bold : "Segoe_Bold";
$primary-bg-color-light: #f5f9f9;

//
.test{
  height: 100px;
  width: 100px;
  background-color: black;
}