<div class="lc__describe-wrapper">
    <div class="container lc__describe">
        <div class="lc__describe__text-wrap">
            <div class="lc__describe--title">
                <h3>Подписка</h3>
                <h4>на новости</h4>
            </div>
            <div class="lc__describe--separator"></div>
            <div class="lc__describe--title-text">
                <p>Хотите быть первым в курсе всех событий? </p>
                <p>Оставьте свои данные и мы будем вам присылать свежие новости!</p>
            </div>
        </div>
        <div class="lc__describe--form">
            <form action="" method="post">
                <div class="form-row">
                        <input type="text" id="name" class="form-control col" placeholder="Ваше имя">
                        <input type="tel" id="tel" class="form-control col" placeholder="Телефон">
                        <input type="email" id="email" class="form-control col" placeholder="e-mail">
                        <button type="submit" id="send" class="btn btn-primary col">Отправить</button>
                    </div>
            </form>
        </div>
    </div>
</div>