<div class="lc-header__wrapper">
    <div class="container lc-header ">
        <!-- Content here -->
        <div class="row">
            <div class="col">
                <img src="images/logo.png" alt="logo">
            </div>
            <div class="col-8">
                <div class="lc-header--contact justify-content-around">
                    <a href="tel:+380 44 425 4445" class="lc-header--tel">+380 44 425 4445</a>
                    <button class="btn lc-header__btn-color">Обратный звонок</button>
                    <form action="" method="get" class="lc-header--form-lang">
                        <select name="lang" id="lang">
                            <option value="ru">Ru</option>
                            <option value="ua">Ua</option>
                            <option value="Eng"><img src="images/eu.jpg" alt="eu"> Eng</option>
                        </select>
                    </form>
                </div>
                <div class="w-100"></div>
                <img src="" alt="">
                <nav class="lc-header__nav">
                    <ul class="row">
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Наши продукты</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Статьи</a></li>
                        <li><a href="#">Карьера</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>