<div class="lc-product-wrapper">
    <div class="container lc-product">
        <div class="row">
            <div class="row lc-product__header">
                <h2 class="lc__services--title">Наши услуги</h2>
                <a href="#" class="lc__services--all-btn">Все наши услуги</a>
            </div>
            <div class="lc-product--list">
                <div class="lc-product--item">
                    <img src="images/calc.png" alt="book title">
                    <div class="lc-product--item-text">
                        <div class="lc-product--item-describe">
                            <h4>КОРПОРАТИВНОЕ ПРАВО</h4>
                            <p>Корпоративное право в субъективном смысле надо понимать как право лица, объединяя усилия и капитал, быть участником корпорации. </p>
                            <div class="row lc-product__item-price"><p>153 грн</p>
                                <button class="btn">подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lc-product--item">
                    <img src="images/calc.png" alt="book title">
                    <div class="lc-product--item-text">
                        <div class="lc-product--item-describe">
                            <h4>КОРПОРАТИВНОЕ ПРАВО</h4>
                            <p>Корпоративное право в субъективном смысле надо понимать как право лица, объединяя усилия и капитал, быть участником корпорации. </p>
                            <div class="row lc-product__item-price"><p>153 грн</p>
                                <button class="btn">подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lc-product--item">
                    <img src="images/calc.png" alt="book title">
                    <div class="lc-product--item-text">
                        <div class="lc-product--item-describe">
                            <h4>КОРПОРАТИВНОЕ ПРАВО</h4>
                            <p>Корпоративное право в субъективном смысле надо понимать как право лица, объединяя усилия и капитал, быть участником корпорации. </p>
                            <div class="row lc-product__item-price"><p>153 грн</p>
                                <button class="btn">подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="lc-product--item">
                    <img src="images/calc.png" alt="book title">
                    <div class="lc-product--item-text">
                        <div class="lc-product--item-describe">
                            <h4>КОРПОРАТИВНОЕ ПРАВО</h4>
                            <p>Корпоративное право в субъективном смысле надо понимать как право лица, объединяя усилия и капитал, быть участником корпорации. </p>
                            <div class="row lc-product__item-price"><p>153 грн</p>
                                <button class="btn">подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>