.lc-product{
  &-wrapper{
    padding: 100px 0 50px 0;
    background-color: $primary-bg-color-light;
  }
  &__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &--item{
    width: 45%;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    box-sizing: border-box;
    padding: 20px;
    flex-wrap: wrap;
    &-price{
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
    & img{
      box-sizing: content-box;
      padding: 5px 5px;
      background-color: $primary-white-color;
      border-bottom: 3px solid $primary-link-color;
    }
    &-text{
      margin-left: 5px;
    }
    &-describe{
      & > h4 {
        font-family: $ff-bold;
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
      }
    }

    &:hover  {
      background-color: $primary-white-color;
      & .lc-product--item-describe > h4 {
        color: $primary-btn-color;
      }
    }

  }
  &--btn-price{
    background-color: $primary-btn-color;
    color: $primary-bg-color-light;
  }
}